* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.small-reserved {
  background-color: #459da0;
  width: 80px;
  height: auto;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  margin-right: 10px;
  font-size: 0.8em;
}

.small-reserved:hover {
  cursor: text;
}

.spinner-container {
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, 0.38);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.spinner {
  max-width: 400px;
  max-height: 400px;
  position: relative;
  margin: auto;
}
